<template name="placesEdit">
    {{#autoForm collection="Places" id="placeForm" type="update" doc=this}}
        <fieldset>
            <legend>Редактирование объекта</legend>
            {{> afQuickField name="type" firstOption="Выберите тип объекта" }}
            {{> afQuickField name="name"}}
            {{> afQuickField name="dangerLevel"  firstOption="Выберите уровень опасности"}}
            {{> afQuickField name="description" rows=2}}
            {{> afQuickField name="location"}}
            <div>
                <button type="submit" class="btn btn-primary">Редактировать объект</button>
            </div>
        </fieldset>
    {{/autoForm}}
</template>
