<template name="pageNotFound">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <div class="logo">
                <h1>Уппс, Ошибка 404!</h1>
            </div>
            <div class="clearfix"></div>
            <br>

            <p class="text-muted">Ой, я сломался. Пожалуйста, попробуйте позже. </p>

            <div class="clearfix"></div>
            <br>
            <br>

            <div class="clearfix"></div>
            <br>

            <div class="col-lg-6  col-lg-offset-3">
                <div class="btn-group btn-group-justified">
                    <a href="{{ placesUrl }}" class="btn btn-success">Вернуться на главную страницу</a>
                </div>

            </div>
        </div>
    </div>
</template>
